:root {
  --primary: #202024;
  --accent: #2a2c30;
  --bot: #ee5903;
}
.footer-wrap {
  /* position: absolute; */
  width: 100%;
}
.commands-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-height: 200vh;
}
.search-bar {
  background: var(--primary);
  border: none;
  outline: none;
  padding: 0.7em 0.4em;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3px;
  width: 60%;
  height: 55px;
  margin: 3rem auto;
  font-size: 1.5em;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.search-bar:focus {
  -webkit-box-shadow: 0 0 0 1px orange;
          box-shadow: 0 0 0 1px orange;
}
.search {
  text-align: center;
}
.search-bar::-webkit-input-placeholder {
  color: rgba(253, 253, 253, 0.651);
  font-weight: lighter;
}
.search-bar::-moz-placeholder {
  color: rgba(253, 253, 253, 0.651);
  font-weight: lighter;
}
.search-bar:-ms-input-placeholder {
  color: rgba(253, 253, 253, 0.651);
  font-weight: lighter;
}
.search-bar::-ms-input-placeholder {
  color: rgba(253, 253, 253, 0.651);
  font-weight: lighter;
}
.search-bar::placeholder {
  color: rgba(253, 253, 253, 0.651);
  font-weight: lighter;
}

.accordion {
  width: 100%;
  max-width: 650px;
  overflow: hidden;
  background-color: var(--accent);
  margin-top: 1rem;
  border-radius: 4px;
  -webkit-box-shadow: #2c2c31b7 0px 3px 8px;
          box-shadow: #2c2c31b7 0px 3px 8px;
  -webkit-box-shadow: #2c2c31b7 0px 2px 5px -1px, #2c2c31b7 0px 1px 3px -1px;
          box-shadow: #2c2c31b7 0px 2px 5px -1px, #2c2c31b7 0px 1px 3px -1px;
  float: right;
  margin-right: 20vw;
}
.accordion__intro {
  position: relative;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
}
.accordion__intro-arrow {
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  top: 30%;
  right: 3%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.accordion__active .accordion__intro-arrow {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.accordion__content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: #f1f1f1;
  opacity: 0;
}
.accordion h4,
.accordion p {
  margin: 0;
  line-height: 1;
}
.accordion h4 {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}
.accordion p {
  color: #f1f1f1;
  font-size: 15px;
  margin: 0;
  margin-top: 6px;
  padding-bottom: 20px;
}
.accordion__active .accordion__content {
  padding: 0 20px;
  padding-bottom: 20px;
  opacity: 1;
}

code {
  font-family: monospace;
  background: #18181b;
  padding: 3px;
  border-radius: 2px;
}

.accordin-info {
  width: 100%;
  max-width: 650px;
  background-color: var(--accent);
  margin-top: 1rem;
  border-radius: 4px;
  -webkit-box-shadow: #2c2c31b7 0px 3px 8px;
          box-shadow: #2c2c31b7 0px 3px 8px;
  -webkit-box-shadow: #2c2c31b7 0px 2px 5px -1px, #2c2c31b7 0px 1px 3px -1px;
          box-shadow: #2c2c31b7 0px 2px 5px -1px, #2c2c31b7 0px 1px 3px -1px;
  float: right;
  margin-right: 20vw;
  padding: 20px;
}
.tabs-switcher {
  /* display: inline-block; */
  font-size: 1.1rem;
  text-align: center;
  float: left;
}
.tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1b1b1f;
  border-radius: 3px;
  padding: 0.4em 0.7em;
  margin-left: 12vw;
  list-style: none;
}
.tab-item {
  background: #27282c;
  padding: 0.6em 0.4em;
  border-radius: 3px;
  display: inline-block;
  margin-top: 6px;
  width: 150px;
  cursor: pointer;
}
.tab-item.active-tab {
  background: var(--bot);
}

[data-tab-content] {
  display: none;
}

.active-tab[data-tab-content] {
  display: block;
}

.accordion:last-child {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1217px) {
  .tabs-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .accordin-info {
    float: none;
    margin-right: 0;
  }
  .accordion {
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 4px;
    -webkit-box-shadow: #2c2c31b7 0px 3px 8px;
            box-shadow: #2c2c31b7 0px 3px 8px;
    -webkit-box-shadow: #2c2c31b7 0px 2px 5px -1px, #2c2c31b7 0px 1px 3px -1px;
            box-shadow: #2c2c31b7 0px 2px 5px -1px, #2c2c31b7 0px 1px 3px -1px;
    float: none;
    margin-right: 1vw;
  }
  .search-bar {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .tabs-list{
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-box-flex: 50px;
        -ms-flex: 50px;
            flex: 50px;
    max-width: 400px;
    padding: 0.05em 0.05em;
    /* justify-content: center; */
    -webkit-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
            transform: translateX(-2rem);
    
  }
  .tabs-switcher{
    float: none;
  }
  .commands-section{
    min-height: 600vh;
  }
}
